body{
	font-family: Arial, Sant-serif;
	font-size: 100%;
	background-color: #F4FEC1;
}
ul{
	margin: 0;
	padding: 0;
}
ul li{
	list-style-type: none;
}
a{
	text-decoration: none;
}
header{
	padding: 50px 0;
	background-color: #D9F9A5;
}
h1,h2{
	color: #68534D;
	text-align: center;
}
nav{
	background-color: #D2D68D;
	border-color: #68534D;
	min-height: 64px;
}
nav li{
	float: left;
	width: 100px;
}
nav a{
	display:block ;
	color: #81726A;
	line-height: 4em;
	font-weight: bold;
	text-align: center;
}
nav li a:hover{
	color: #F4FEC1;
	background-color: #68534D;
}
p{
	font-size: 16px;
	line-height: 1.3;
	margin-top: 0.1em;
	margin-bottom: 0;
	color: #68534D;
}
footer{
	background-color: #D9F9A5;
	color: #D9F9A5;
	padding: 20px 0;
	margin-top: 30px;
}
.img{
     width: 200px;
}
.left{
	float: left;
}
.right{
	float: right;
}
.img-container li{
	display: inline-block;
	width: 32%;
	padding: 10px;
}
.img-container{
	text-align: center;
	margin-top: 20px;
	width: 100%;
}
.img-container img{
	width: 80%;
	display: inline-block;
	transition: 25s;
}
.img-container ul li{
	list-style-type: none;
}
.inline-img img{
	width: 250px;
	display: inline-block;
	border-radius: 15px;
	text-align: center;
	transform: scale(0.95);
	transition: .3s;
	max-width: 35%;
}
.inline-img img:hover{
	transform: scale(1);
}
.multimedia{
	overflow: auto;
}
.multimedia-video{
	display: inline-block;
	float: left;
	padding-left: 5px;
	padding-right: 5pх;
	width: 25%;
	box-sizing: border-box;
}
form{
	padding: 15px 0;
	float: right;
}
.form_comment{
     padding: 15px 0;
	float: none;
}
/*.container{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: stretch;
	height: 300pх;
	border: 1pх; dashed green;
	background-color: #ff5599;
}
.container li{
	/*flex-grow: 1;
	margin-top: 5pх;
	margin-bottom: 2pх;
	margin-right: 8pх;
	background-color: #ff5555;
	list-style-type: none;
	font-size: 50pх;
}*/

